# Игнорирование папок
venv/
data/
test_data/
augmented_data/
.idea/
models/

# Игнорирование файлов по расширению
*.log
*.tmp
*.bak

# Игнорирование конкретного файла
secret.txt

# Игнорирование всех файлов с определённым расширением в конкретной папке
logs/*.log
